.menu
{
    width: 71%;
    margin: 0 auto 30px auto;
}

.menu_components,.menu_components2
{
    display: none;
    padding: 30px;
}

.menu_components.active_dropdown
{
    display: flex;
    font-size: 24px;
    color :#ff6060
}

.menu_components2.active_dropdown
{
    display: flex;
    font-size: 18px;
    color :#ff6060
}

.menu_element
{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ff6060;    
    border-radius: 5px;
    height: 47px;
    cursor: pointer;
    user-select: none;
}

.menu_element::before
{
    position: absolute;
    right: 15px;
    content: "▼";
    color: white;
}

.menu_element.active_dropdown::before 
{
    position: absolute;
    right: 15px;
    content: "▲";
    color: white;
}

.menu_title
{
    color: white;
    margin-left: 18px;
    font-size: 24px;
    font-weight: 500;
}

.menu_title2
{
    color: white;
    margin-left: 18px;
    font-size: 18px;
    font-weight: 500;
}

.about_list
{
    list-style: none; 
}

.dropdownmenu_list
{
    list-style: none;
}
