.menu
{
    width: 71%;
    margin: 0 auto 30px auto;
}

.menu_components,.menu_components2
{
    display: none;
    padding: 30px;
}

.menu_components.active_dropdown 
{
    display: flex;
    font-size: 24px;
    color :#ff6060
}

.menu_chevron
{
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.menu_chevron.active_dropdown 
{
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.menu_components2.active_dropdown
{
    display: flex;
    font-size: 18px;
    color :#ff6060
}

.menu_element
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;    
    border-radius: 5px;
    height: 47px;
    cursor: pointer;
    user-select: none;
    padding: 0 18px;
}

.menu_title
{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.menu_title2
{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.about_list, .dropdownmenu_list
{
    list-style: none; 
}

/*Css About pour les Téléphones*/

@media screen and (max-width: 600px) 
{
    .menu
    {
        width: 90%;
    }

    .menu_title
    {
        font-size: 13px;
    }

    .menu_components2.active_dropdown,.menu_components.active_dropdown
    {
        font-size: 12px;
    }

    .menu_element
    {
        padding: 0 10px;
    }

    .menu_components,.menu_components2
    {
        padding: 10px;
    }

    .menu_chevron
    {
        width: 16px;
        height: 9px;
    }
}