.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin:40px auto 60px auto;
}

.inactive
{
    text-decoration: none;
}

.header_list
{
    list-style: none;
    display: flex;
    gap: 60px;
}

.header_list_component
{
    color: #ff6060;
}

.header_image
{
    width:211px;
    height:68px;
}

/*Header pour les Téléphones*/

@media screen and (max-width: 600px) 
{
    .header_image
    {
        width: 117px;
        height:38px;
    }   
    
    .header
    {
        width: 90%;
        font-size: 12px;
        text-transform: uppercase;
    }

    .header_list
    {
        gap: 10px;
    }

}