.header
{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.inactive
{
    text-decoration: none;
}

.header_list
{
    list-style: none;
    display: flex;
    gap: 20px;
}

.header_list_component
{
    color: #ff6060;
}