.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin:40px 0 60px 0;
}

.inactive
{
    text-decoration: none;
}

.header_list
{
    list-style: none;
    display: flex;
    gap: 60px;
}

.header_list_component
{
    color: #ff6060;
}