.logement
{
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff6060;
    margin: 0 auto;
}

.logement_image
{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.logement_carrousel
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.logement_presentation
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.logement_titre_location_tag
{
    display: flex;
    flex-direction: column;
}

.logement_host
{
    display: flex;
    align-items: center; 
    margin-bottom: 30px;
    gap:10px;
}

.logement_tag_rating
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}

.logement_host_picture
{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;    
}

.logement_host_name
{
    display: flex;
    text-align: right;
    width: 93px;
    font-size: 18px;
    font-weight: 500;
}

.logement_titre
{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.logement_location 
{
    font-size: 18px;
    font-weight: 500;
}

.logement_tag_list
{
    margin-top: 20px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.logement_tag_list_components
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    min-width: 105px;
    height: 25px;
    padding: 0 5px;
}

.logement_description_equipement
{
    display: flex;
    width: 100%;
    gap:76px;
}

.left_arrow_carrousel
{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 23px;
    cursor: pointer;
}

.right_arrow_carrousel
{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 23px;
    cursor: pointer;
}

.pagination_carrousel
{
    position: absolute;
    right: 50%;
    bottom: 25px;
    color: white;
    font-size: 18px;
}

.star_rating
{
    display: flex;
    gap:15px;
}

.inactive_carrousel
{
    display: none;
}

/* Css Home pour Téléphone*/
@media screen and (max-width: 600px) 
{
    .logement_image
    {
        width: 90%;
        height: 255px;
    }   
    
    .left_arrow_carrousel, .right_arrow_carrousel
    {
        width: 11px;
        height: 19px;
    }

    .logement_presentation
    {
        flex-direction: column;
        width: 90%;
        margin-bottom: 0;
    }

    .logement_tag_rating
    {
        margin: 15px 0;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .star
    {
        width: 13px;
        height: 13px;
    }

    .logement_titre
    {
        font-size: 18px;
    }

    .logement_location 
    {
        font-size: 14px;
    }

    .logement_tag_list_components
    {
        font-size: 10px;
        min-width: 74px;
        height: 18px;
        border-radius: 5px;
    }

    .logement_host
    {
        margin-bottom: 0px;
    }
    .logement_description_equipement
    {
        flex-direction: column;
        gap:0px;
    }
}